* {
    font-size: 12px;
    font-family: Tahoma, Verdana, Î¢ÈíÑÅºÚ, ÐÂËÎÌå
}

body {
    background: #D2E0F2;
}

a {
    color: Black;
    text-decoration: none;
}

a:hover {
    color: Red;
    text-decoration: underline;
}

.textbox03 {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif, ËÎÌå;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    width: 190px;
}

.txt {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif, ËÎÌå;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
}

.footer {
    text-align: center;
    color: #15428B;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    font-weight: bold;
}

.head a {
    color: White;
    text-decoration: underline;
}

.easyui-accordion ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.easyui-accordion ul li {
    padding: 0px;
}

.easyui-accordion ul li a {
    line-height: 24px;
}

.easyui-accordion ul li div {
    margin: 2px 0px;
    padding-left: 10px;
    padding-top: 2px;
}

.easyui-accordion ul li div.hover {
    border: 1px dashed #99BBE8;
    background: #E0ECFF;
    cursor: pointer;
}

.easyui-accordion ul li div.hover a {
    color: #416AA3;
}

.easyui-accordion ul li div.selected {
    border: 1px solid #99BBE8;
    background: #E0ECFF;
    cursor: default;
}

.easyui-accordion ul li div.selected a {
    color: #416AA3;
    font-weight: bold;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -3px;;
    background: url(../images/tabicons.png) no-repeat;
}

.icon-sys {
    background: url(../images/directory.png) no-repeat;
}

.icon-add {
    background-position: -19px 0px;
}

.icon-nav {
    background-position: -100px -18px;
}

.icon-users {
    background-position: -100px -480px;
}

.icon-role {
    background-position: -360px -200px;
}

.icon-set {
    background-position: -380px -200px;
}

.icon-log {
    background-position: -380px -80px;
}

* {
    font-size: 12px;
    font-family: Tahoma, Verdana, Î¢ÈíÑÅºÚ, ÐÂËÎÌå
}

body {
    background: #D2E0F2;
}

a {
    color: Black;
    text-decoration: none;
}

a:hover {
    color: Red;
    text-decoration: underline;
}

.textbox03 {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif, ËÎÌå;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
    font-weight: bold;
    width: 190px;
}

.txt {
    border: #878787 1px solid;
    padding: 4px 3px;
    font: Verdana, Geneva, sans-serif, ËÎÌå;
    line-height: 14px;
    background-color: #fff;
    height: auto;
    font-size: 14px;
}

.footer {
    text-align: center;
    color: #15428B;
    margin: 0px;
    padding: 0px;
    line-height: 23px;
    font-weight: bold;
}

.head a {
    color: White;
    text-decoration: underline;
}

.easyui-accordion ul {
    list-style-type: none;
    margin: 0px;
    padding: 10px;
}

.easyui-accordion ul li {
    padding: 0px;
}

.easyui-accordion ul li a {
    line-height: 24px;
}

.easyui-accordion ul li div {
    margin: 2px 0px;
    padding-left: 10px;
    padding-top: 2px;
}

.easyui-accordion ul li div.hover {
    border: 1px dashed #99BBE8;
    background: #E0ECFF;
    cursor: pointer;
}

.easyui-accordion ul li div.hover a {
    color: #416AA3;
}

.easyui-accordion ul li div.selected {
    border: 1px solid #99BBE8;
    background: #E0ECFF;
    cursor: default;
}

.easyui-accordion ul li div.selected a {
    color: #416AA3;
    font-weight: bold;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: -3px;;
    background: url(../images/tabicons.png) no-repeat;
}

.icon-sys {
    background: url(../images/directory.png) no-repeat;
}

.icon-add {
    background-position: -19px 0px;
}

.icon-nav {
    background-position: -100px -18px;
}

.icon-users {
    background-position: -100px -480px;
}

.icon-role {
    background-position: -360px -200px;
}

.icon-set {
    background-position: -380px -200px;
}

.icon-log {
    background-position: -380px -80px;
}

/*
span {display:-moz-inline-box;display:inline-block}
*/

label {display:-moz-inline-box;display:inline-block}

label {display:-moz-inline-box;display:inline-block}