@charset "utf-8";
/* CSS Document */
body {
	background: url(../images/bj.png);
	font-family: 微软雅黑, Arial;
	font-size: 12px;
}

* {
	margin: 0;
	padding: 0;
}

.title {
	background: url(../images/title.png) no-repeat;
	width: 309px;
	position: absolute;
	height: 45px;
	left: 46%;
	margin-left: -105px;
	top: 160px;
}

.login_box {
	width: 412px;
	height: 272px;
	background: url(../images/login_bj.png);
	position: absolute;
	top: 250px;
	left: 50%;
	margin-left: -206px;
}

.top {
	background: url(../images/top.png);
	width: 400px;
	height: 44px;
	margin: 6px 0 0 6px;
	line-height: 44px;
	text-indent: 20px;
	color: #333;
	font-weight: bold;
}

.text_input {
	margin: 10px 0 0 20px;
	float: left;
	display: inline;
}

.text_input div {
	background: url(../images/input_left.png);
	width: 83px;
	height: 34px;
	float: left;
	text-align: center;
	line-height: 30px;
	color: #666;
}

.text_input p {
	float: left;
	width: 289px;
	*margin-top: -1px;
	_margin-top: -1px;
}

.text_input span {
	display: block;
	border: 0px solid #ff0000;
	height: 30px;
	float: left;
	width: 100px;
	margin-left: 10px;
}

.text_input p input {
	height: 34px;
	width: 289px;
	background: url(../images/input_right.png) top right;
	border: 0;
	line-height: 30px;
}

.login_button {
	padding-left: 20px;
	padding-top: 15px;
	clear: both;
}

.login_button .jz {
	float: left;
	padding-top: 7px;
}

.login_button label {
	margin-right: 30px;
	color: #666
}
/*.login_button label input{vertical-align:middle;}*/
.but {
	float: right;
	margin-right: 20px;
}

.but a {
	display: block;
	background: url(../images/button.png);
	width: 94px;
	height: 32px;
}

.but a:hover {
	background: url(../images/button.png) 0 -37px;
}
