<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.report.common.dal.admin.dao.ReportConditionDao">

	<resultMap type="com.report.common.dal.query.entity.dto.ReportCondition" id="reportConditionResultMap">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="toolflag" property="toolFlag" jdbcType="VARCHAR" />
		<result column="conwhere" property="conWhere" jdbcType="VARCHAR" />
		<result column="contype" property="conType" jdbcType="VARCHAR" />
		<result column="conname" property="conName" jdbcType="VARCHAR" />
		<result column="conoption" property="conOption" jdbcType="VARCHAR" />
		<result column="conmuti" property="conMuti" jdbcType="VARCHAR" />
		<result column="order_num" property="orderNum" jdbcType="INTEGER" />
		<result column="default_value" property="conDefaultValue" jdbcType="VARCHAR" />
		<result column="row_num" property="rowNum" jdbcType="INTEGER" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
	</resultMap>

	<insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.report.common.dal.query.entity.dto.ReportCondition">
		insert into rptcon(id, toolflag, conwhere, contype, conname, conoption, conmuti, order_num, default_value, row_num)
			values(#{id, jdbcType=INTEGER},
			#{toolFlag,jdbcType=VARCHAR},
			#{conWhere,jdbcType=VARCHAR},
			#{conType,jdbcType=VARCHAR},
			#{conName,jdbcType=VARCHAR},
			#{conOption,jdbcType=VARCHAR},
			#{conMuti,jdbcType=VARCHAR},
			#{orderNum,jdbcType=INTEGER},
			#{conDefaultValue,jdbcType=VARCHAR},
			#{rowNum,jdbcType=INTEGER})
	</insert>

	<update id="update" parameterType="com.report.common.dal.query.entity.dto.ReportCondition">
		update rptcon set
			toolflag=#{toolFlag,jdbcType=VARCHAR},
			conwhere=#{conWhere,jdbcType=VARCHAR},
			contype=#{conType,jdbcType=VARCHAR},
			conname=#{conName,jdbcType=VARCHAR},
			conoption=#{conOption,jdbcType=VARCHAR},
			conmuti=#{conMuti,jdbcType=VARCHAR},
			order_num=#{orderNum,jdbcType=INTEGER},
			default_value=#{conDefaultValue,jdbcType=VARCHAR},
			row_num=#{rowNum,jdbcType=INTEGER}
		where id=#{id,jdbcType=INTEGER}
	</update>
	
	<delete id="deleteByReportFlag" parameterType="string">
	  	delete from rptcon where toolflag = #{toolFlag,jdbcType=VARCHAR}
	</delete>
	
	<select id="findConditionListByToolFlag"  parameterType="string" resultMap="reportConditionResultMap">
  	    select * from rptcon t where t.toolflag=#{toolFlag, jdbcType=VARCHAR} order by row_num,order_num
    </select>
    
    <select id="findConditionList"  parameterType="map" resultMap="reportConditionResultMap">
  	    select * from rptcon t where 1=1
  	    <if test="toolFlag != null and toolFlag !=''">
	  	    and t.toolflag=#{toolFlag, jdbcType=VARCHAR}
	  	</if>
    </select>
    
    <select id="findConditionCount"  parameterType="map" resultType="long">
  	    select count(1) from rptcon t where 1=1
  	    <if test="toolFlag != null and toolFlag !=''">
	  	    and t.toolflag=#{toolFlag, jdbcType=VARCHAR}
	  	</if>
    </select>
</mapper>