<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.report.common.dal.admin.dao.ReportLogDao" >

  <resultMap type="com.report.common.dal.admin.entity.dto.ReportLog" id="reportLogResultMap">
  	<id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="ope_action" property="opeAction" jdbcType="VARCHAR" />
    <result column="ope_id" property="opeId" jdbcType="VARCHAR" />
    <result column="waste_time" property="wasteTime" jdbcType="VARCHAR" />
    <result column="ip" property="ip" jdbcType="VARCHAR" />
    <result column="exception" property="exception" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.report.common.dal.admin.entity.dto.ReportLog">
     insert into rptlog(id, user_name, ope_action, ope_id, waste_time, ip, exception)
     values(#{id,jdbcType=INTEGER}, #{userName,jdbcType=VARCHAR}, #{opeAction,jdbcType=VARCHAR}, #{opeId,jdbcType=VARCHAR},
     #{wasteTime,jdbcType=VARCHAR}, #{ip,jdbcType=VARCHAR}, #{exception,jdbcType=VARCHAR})
  </insert>
  
</mapper>